@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Orienta&display=swap');

body {
    background-color: darkred;
}

h1 {
    font: 45px/60px Righteous, cursive;
    font-weight: normal;
    text-align: center;
    color: #fff;
    text-transform: uppercase;
}

h2 {
    font: 30px/50px;
    letter-spacing: -1;
    color: #DFBF84;
    text-transform: uppercase;
    text-align: center;
}

p {
    font: 16px/24px Orienta, sans-serif;
    color: #f6f6f6;
    text-align: center;
}