<section class="register-form-container">

    <form action="" method="POST">
        <h3>Register</h3>
        <label>Email</label>
        <input type="email" name="email" class="box" id="" value="{{email}}">
        <label>Username</label>
        <input type="text" name="username" class="box" id="" value="{{username}}">
        <label>Password</label>
        <input type="password" name="password" class="box" id="">
        <label>Confirm Password</label>
        <input type="password" name="rePassword" class="box" id="">
        <input type="submit" value="Register" class="btn">
        <p>Have an account ? <a href="/users/login">Click here</a></p>
    </form>
</section>