<!-- Start Uploaded Photos Section -->
<div class="pet-photos">

    <!-- Link to Uploaded Pet Photo -->
    <a href="/pets/{{_id}}">
        <!-- Pet Photo -->
        <img src="{{image}}"
            alt="pet img">
    </a>

</div>