<section class="search">
    <h1>Search</h1>

    <form class="search-form" action="#" method="POST">
        <input type="text" class="search-name" name="name" placeholder="Search Name...">
        <input type="text" class="search-type" name="type" placeholder="Search Type...">
        <button type="submit" class="btn-search">Search</button>
    </form>

    <!--If there are matches after search-->
    <div class="search-result">
        <div class="search-list">
            {{#each electronics}}
            {{>searchElectronic}}
            {{else}}
            <div class="no-match">
                <p>No match was found!</p>
            </div>
            {{/each}}
        </div>
    </div>

</section>