<main>
    {{#if error}}
    <div>
        <div class="errorContainer">
            <p>{{error}}</p>
        </div>
    </div>
    {{/if}}

    <div class="login-box">
        <h1>Login</h1>
        <form action="#" method="POST">
            <label>Email</label>
            <input type="text" name="email" placeholder="Email.." value="{{email}}">
            <label>Password</label>
            <input type="password" name="password" placeholder="Password..">
            <input type="submit" value="Submit">
        </form>
        <p>Not have an account? <a href="/users/register">Register here</a></p>
    </div>
</main>