<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Home Page</title>

    <!-- Do not forget to change the path to the css file -->
    <link href="/css/style.css" type="text/css" rel="stylesheet">
</head>

<body>


    {{#if error}}
    <div id="box">


        <div class="error-container">
            <p>{{error}}</p>
        </div>

        {{/if}}


        <nav>
            <!-- Do not forget to change the path to the image -->
            <img src="/img/logo.png" alt="logo">

            <ul class="menu">
                <li><a href="/">Home</a></li>
                <li><a href="/posts/catalog">All Posts</a></li>
                <!-- Logged users -->
                {{#if isAuthenticated}}
                <li><a href="/posts/create">Create Post</a></li>
                <li><a href="/users/profile/{{user._id}}">Profile</a></li>
                <li><a href="/users/logout">Logout</a></li>
                {{else}}
                <li><a href="/users/register">Register</a></li>
                <li><a href="/users/login">Login</a></li>
                {{/if}}
            </ul>

        </nav>

        {{{body}}}




        <footer>
            © JS Back-End Exam 2023
        </footer>
    </div>

</body>

</html>